<nav class="sidenav">
  <section class="sidenav-content">
    <section class="nav-group collapsible">
      <input id="Language" type="checkbox">
      <label for="Language">Language</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">C</a></li>
      </ul>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']">C++</a></li>
      </ul>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']">Python</a></li>
      </ul>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']">Java</a></li>
      </ul>
    </section>
  </section>
</nav>
