<nav class="sidenav">
  <section class="sidenav-content">
    <a class="nav-link">
      Accueil
    </a>
    <section class="nav-group collapsible">
      <input id="cours" type="checkbox">
      <label for="cours">Cours</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">C</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="exercices" type="checkbox">
      <label for="exercices">Exercices</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">C</a></li>
      </ul>
    </section>
  </section>
</nav>
